.row {
  display: flex;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px; /* Add some spacing between columns */
}
.typewriter {
  position: relative;
  margin: 0;
  height: 50px;
  padding: 0;
  overflow: hidden;
}

.effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

/* //about  */

.about-section {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #0f0;
  font-size: 20px;
}

.section-title {
  font-size: 16px;
  color: #988e9f;
  font-size: 20px;
}

.code-wrp {
  background-color: #14121c;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 20px;
}

.code-l {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  font-size: 20px;

  color: #333;
}

.methods {
  color: #007bff;
  font-size: 20px;
}

.propname {
  color: #009688;
  font-size: 20px;
}

.dot {
  color: #aaa;
}

.comment {
  color: #777;
}

.scope {
  color: #795548;
}

.string {
  color: #f44336;
  font-size: 22px;
}

.number {
  color: #ff9800;
}
