<!-- <div
  ng-app="landingPageApp"
  ng-controller="landingPageCtrl"
  layout="row"
  layout-align="center center"
>
  <mat-card-content flex="100" layout-align="center">
    <mat-card-content layout="row" layout-align="start center">
      <div flex="50" layout="column" layout-align="center start">
        <h2>Thisis title</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet
          temporibus eos officia voluptatem ex quo vero, expedita rerum ullam
          doloremque!
        </p>
      </div>
      <div flex="50" layout="column" layout-align="center end">
        <img
          src="/src/assets/woman.jpg"
          alt="Banner Image"
          style="max-width: 100%; height: auto"
        />
      </div>
    </mat-card-content>
  </mat-card-content>
</div> -->
<!-- 
<div class="row">
  <div class="col-6" style="color: white; font-size: 20px">
    <h2 class="dm-mono-regular">Welcome to my Page</h2> -->

<!-- <div class="typewriter">
      <span class="efect">Hello,EveryOne!</span>
      <span class="efect">H@l%o,E&e*r!O&n#e!</span>
      <span class="efect">#@llo,!2v%r^y*One!</span>
      <span class="efect">Hell@,Ev%$yO*e!</span>
      <span class="efect">H#@lo,E#e%yOn2e!</span>
      <span class="efect">He@lo,E@e!$6ne!</span>
      <span class="efect">H#2lo,Ev$%@yOne!</span>
      <span class="efect">H#llo,Ev#2!one!</span>
    </div> -->

<!-- <div class="typewriter dm-mono-regular">
      <span class="effect">{{ scrambledText }}</span>
    </div>
  </div>
  <div class="col-6">
    <img
      src="/assets/header-img.png"
      alt="Banner Image"
      style="width: 500px; height: auto"
    />
  </div>
</div> -->

<!-- //Aboutt Sectionn -->

<div class="about-section">
  <div class="timeline">
    <div class="bullet"></div>
    <a
      href="#work"
      aria-label="Go to next section"
      class="scroll-bottom scale-hover"
      ><svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 18 30"
        xml:space="preserve"
      >
        <path
          fill="#988E9F"
          d="M9,30c-5,0-9-4.2-9-9.4V9.4C0,4.2,4,0,9,0s9,4.2,9,9.4v11.3C18,25.8,14,30,9,30z M16.2,9.4
    c0-4.2-3.2-7.5-7.2-7.5S1.8,5.3,1.8,9.4v11.3c0,4.1,3.2,7.5,7.2,7.5s7.2-3.4,7.2-7.5V9.4z M9.2,12.8c-0.5,0-0.9-0.4-0.9-0.9V7.1
    c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9v4.7C10.1,12.3,9.7,12.8,9.2,12.8z"
          class="st0"
        ></path>
      </svg>
      <br />
      <span>SCROLL</span></a
    >
  </div>
  <small class="section-title bullet-title alt">About /&gt;</small>
  <div class="mt-3">
    <div class="code-wrp">
      <div data-line-nr="01" class="code-l">
        <div class="methods">class &nbsp;</div>
        <span class="propname">Shweta Kodam</span> {{ "{" }}
      </div>
      <div data-line-nr="02" class="code-l">
        <div class="dot">··</div>
        <div class="comment">// I can, because I did.</div>
      </div>
      <div data-line-nr="03" class="code-l">
        <div class="dot">··</div>
        <div class="comment">
          // My vast variety of skills is continuously learning.
        </div>
      </div>
      <div data-line-nr="04" class="code-l">
        <div class="dot">··</div>
        <div class="methods">constructor</div>
        () {{ "{" }}
      </div>
      <div data-line-nr="05" class="code-l">
        <div class="dot">····</div>
        <span class="scope">this</span>.<span class="propname">name</span>
        <span class="scope">=</span>
        <span class="string">'Shweta Kodam'</span>
      </div>

      <div data-line-nr="06" class="code-l">
        <div class="dot">····</div>
        <span class="scope">this</span>.<span class="propname"
          >dayOfBirthTimestamp</span
        >
        <span class="scope">=</span> <span class="number">964083600</span>
      </div>
      <div data-line-nr="07" class="code-l">
        <div class="dot">····</div>
        <span class="scope">this</span>.<span class="propname">email</span>
        <span class="scope">=</span>
        <span class="string">'shwetakodamg@gmail.com'</span>
      </div>
      <div data-line-nr="08" class="code-l">
        <div class="dot">··</div>
        {{ "}" }}
      </div>
    </div>
  </div>
</div>
