.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: #14121c !important;
}

.example-sidenav a {
  text-decoration: none;
  color: #0f0;
}
.example-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-text {
  font-size: 12px;
  line-height: 1px;
}
